<!-- <ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let pelicula of peliculas">

    <ion-card mode="md" (click)="verDetalle( pelicula.id )">
      <img class="poster"
           [src]="pelicula.poster_path | imagen">
    </ion-card>

  </ion-slide>
</ion-slides> -->
<swiper-container>
  <swiper-slide *ngFor="let slide of peliculas">
    <ion-card mode="md" (click)="verDetalle(slide.id)">
      <img [src]="slide.poster_path | imagen" class="slide-image" />

      <ion-card-header>
        <ion-card-subtitle>{{ slide.title }}</ion-card-subtitle>
      </ion-card-header>

      <!-- <ion-card-content>
        {{ slide.desc }}
      </ion-card-content> -->

    </ion-card>

  </swiper-slide>

</swiper-container>
